Host 192.168.56.107
  HostName 192.168.56.107
  User vagrant
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile "/Users/orezi/Documents/workspace/devOps/d3-assessment/.vagrant/machines/haproxy/virtualbox/private_key"
  IdentitiesOnly yes
  LogLevel FATAL

Host 192.168.56.108
  HostName 192.168.56.108
  User vagrant
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile "/Users/orezi/Documents/workspace/devOps/d3-assessment/.vagrant/machines/web/virtualbox/private_key"
  IdentitiesOnly yes
  LogLevel FATAL

Host 192.168.56.109
  HostName 192.168.56.109
  User vagrant
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile "/Users/orezi/Documents/workspace/devOps/d3-assessment/.vagrant/machines/web1/virtualbox/private_key"
  IdentitiesOnly yes
  LogLevel FATAL

Host 192.168.56.110
  HostName 192.168.56.110
  User vagrant
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile "/Users/orezi/Documents/workspace/devOps/d3-assessment/.vagrant/machines/db/virtualbox/private_key"
  IdentitiesOnly yes
  LogLevel FATAL

Host 192.168.56.111
  HostName 192.168.56.111
  User vagrant
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile "/Users/orezi/Documents/workspace/devOps/d3-assessment/.vagrant/machines/db1/virtualbox/private_key"
  IdentitiesOnly yes
  LogLevel FATAL

Host 192.168.56.112
  HostName 192.168.56.112
  User vagrant
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile "/Users/orezi/Documents/workspace/devOps/d3-assessment/.vagrant/machines/db2/virtualbox/private_key"
  IdentitiesOnly yes
  LogLevel FATAL

